.menuTabContent {
  display: none;
}
.menuTabNav {
  :global{
    .next-tabs-nav-container {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 15px; 
      .next-tabs-nav .next-tabs-tab.active {
        border-color:#DCDEE3;
      }
    }
  }
}